
<h1>what happened?</h1>
<div id="my-spa" 
    asp-prerender-module="ClientApp/dist/main-server"
    asp-prerender-data = "new {
        IsAdministor = true,
        Cookies = ViewContext.HttpContext.Request.Cookies
    }"
    ></div>